:root {
	--main-color: #2471A3; 
}
.menu {
    position: fixed;
    display: none;
    top: 150px;
}
.burger-checkbox {
	position: absolute;
	visibility: hidden;
}
.burger {
	position: relative;
	z-index: 2;
	background-color: #fff;
	width: 40px;
	height: 26px;
	display: block;
	border-radius: 2px;
	transform: scale(1.2);
	left: 4px;
	top: 3px;
}
.burger::before,
.burger::after{
	content:'';
	width: 90%;
	height: 4px;
	display: block;
	background:  black;
	position: absolute;
	left: 5%;
}
.burger::before{
	top: 2%;
	box-shadow: 0 10px 0 black;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
	bottom: 2%;
    transition: bottom .3s .15s, transform .3s;
}

.menu-list{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	justify-content: space-around;
	/* opacity: 0; */
	list-style-type: none;
	display: grid;
	gap: 10px;
	background-color: #fff;
	padding: 42px 0;
	margin: 0;
	width: 0px;
	z-index: 1;
	/* transform: translateX(-100%); */
	transition: width .3s;
	
}

.menu-list li{
    width:0;
    overflow: hidden;
    text-align:center;
    transition: width 0 0;
}

.menu-item{
	display: block;
	font-size: 18px;
	text-decoration: none;
	padding: 8px;
	height:20px;
	color: var(--main-color);
}

.menu-item:hover{
	border-bottom: 1px solid #2471A3;
	color: rgba(84,153,199,1);
}

.burger-checkbox:checked ~ .menu-list{
	/*transform: translateX(0);*/
	width:200px
}
.burger-checkbox:checked ~ .menu-list li{
    width: 140px;
    transition: width .1s .1s;
}


.burger-checkbox:checked + .burger::before {
	top: 11px;
	transform: rotate(45deg);
	width: 32px;
	box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  width: 32px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}