footer {
    background-color:gray;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    background-color:#fff;
    margin-top:100px;
    border-radius:10px 10px 0 0;
    padding: 10px 10px 10px 10px;
}

#footer-ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,33.333%));
    justify-content: center;
}

#section_1,
#section_2,
#section_3 {
    width:clamp(200px,100%, 250px);
    align-self: center;
    justify-self: center;
}


@media(max-width:970px){
    #footer-ul{
        transform: scale(0.9);
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    #section_1{
        grid-area: 1 / 1 / 1 / -1;
        width: 100%;
    }
    #section_3{
        align-self: center;
    }
    #section_1 ul{
        display: grid;
        grid-template-columns: 80% 10% 10%;
    }
    #logo_div{
        grid-area: 1 / 1 / 1 / 2;
    }
    #facebook-link{
        display: inline-block;
        align-self: center;
    }
    #twitter-link{
        align-self: center;
        display: inline-block;
    }
}

@media(max-width: 500px){
    #footer-ul{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    #section_1{
        grid-area: 1;
    }
    #section_1 ul{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }
    #logo_div{
        display: inline;
    }
    #facebook-link,
    #twitter-link{
        transform: scale(0.8);
        grid-area: 2 / 1 / 2 / 1;
    }
    #twitter-link{
        position: absolute;
        left: 60px;
    }
}
