<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}">
    {% endblock %}
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <title>{% block title%}Магазин электроники{% endblock %}</title>
</head>
<body>
<header >
    <div class="search_and_logo">
        <div  class="logo_div">
            <img src="{{url_for('static',filename='img/logo/dronsCamera.png')}}" alt="" class="logo">
            <i class="logo_text">Магазин Электроники</i>
        </div>
        <form id="form-search">
            <input type="text" id="search">
            <input type="submit" id="search_button" value="Поиск">
        </form>
    </div>
    <nav id="header-nav">
        <ul id="header-ul">
            <li><a href="{{url_for('index')}}">Главная</a></li>
            <li><a href="{{url_for('allgoods')}}">Все товары</a></li>
            <li><a>Дроны</a></li>
            <li><a>Камеры</a></li>
<!--            <li><b>Аксессуары</b></li>-->
            <li><a>Распродажа</a></li>
            <li><a href="{{url_for('users_bt.profile')}}">Профиль</a></li>
            <li><a>О нас</a></li>
<!--            <li><b>Больше</b></li>-->
        </ul>
    </nav>
</header>
<main>
{% block main %}
<div id="all-goods">
    <div class="slideshow-container">
        <div class="my-slide fade">
            <div class="number-text">1/3</div>
            <img src="" id="image-goods">
            <div class="text">Name item</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
{% endblock %}
</main>
<footer>
    <section id="footer-links">
        <nav>
            <ul id="footer-ul">
                <li id="logo">
                    <div  class="logo_div">
                        <img src="{{url_for('static',filename='img/logo/dronsCamera.png')}}" alt="" class="logo">
                        <i class="logo_text">Магазин Электроники</i>
                    </div>
                </li>
                <li id="facebook-link">
                    <a target="_blank" href="https://facebook.com/моя-страница">
                        <img src="{{url_for('static',filename='img/logo/facebook.png')}}" alt="facebook">
                    </a>
                </li>
                <li id="twitter-link">
                    <a target='_blank' href="https://twitter.com/моя-страница">
                        <img src="{{url_for('static',filename='img/logo/tweeter.png')}}" alt="tweeter">
                    </a>
                </li>
                <li id="about-link"><a href="/about"><h3>О нас</h3></a></li>
                <li id="contacts-link"><a href="/contact">Контакты</a></li>
                <li id="privacy-policy"><a href="/privacy">Политика конфиденциальности</a></li>
                <li id="terms-of-use"><a href="/terms">Условия использования</a></li>
                <li id="products"><h3>Продукция</h3></li>
                <li id="drones"><a href="/">Дроны</a></li>
                <li id="cameras"><a href="/">Камеры</a></li>
                <li id="sale"><a href="/">Распродажа</a></li>
            </ul>
        </nav>
    </section>
    <section id="copyright">
            <p>&copy; 2024 Магазин электроники. Все права защищены.</p>
    </section>
</footer>
{% block js %}
{% endblock %}
</body>
</html>