<div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
        <ul class='menu-list'>
            <li><a href="/" class="menu-item">Главная</a><li>
            <li><a href="#" class="menu-item">Все товары</a><li>
            <li><a href="#" class="menu-item">Дроны</a><li>
            <li><a href="#" class="menu-item">Камеры</a><li>
            <li><a href="#" class="menu-item">Распродажа</a></li>
            <li><a href="{{url_for('users_bt.profile')}}" class="menu-item">Профиль</a></li>
            <li><a href="#" class="menu-item">О нас</a></li>
        </ul>
</div>
