<section id="footer-links">
    <nav>
        <ul id="footer-ul">
            <li id="section_1">
                <ul>
                    <li class="logo_div">
                        <img src="{{url_for('static',filename='img/logo/dronsCamera.png')}}" alt="" class="logo">
                        <i class="logo_text">Магазин Электроники</i>
                    </li>
                    <li id="facebook-link">
                        <a target="_blank" href="https://facebook.com/моя-страница">
                            <img src="{{url_for('static',filename='img/logo/facebook.png')}}" alt="facebook">
                        </a>
                    </li>
                    <li id="twitter-link">
                        <a target='_blank' href="https://twitter.com/моя-страница">
                            <img src="{{url_for('static',filename='img/logo/tweeter.png')}}" alt="tweeter">
                        </a>
                    </li>
                </ul>
            </li>
            <li id="section_2">
                <ul>
                    <li id="about-link"><h3>О нас</h3></li>
                    <li id="contacts-link"><a href="/contact">Контакты</a></li>
                    <li id="privacy-policy"><a href="/privacy">Политика конфиденциальности</a></li>
                    <li id="terms-of-use"><a href="/terms">Условия использования</a></li>
                </ul>
            </li>
            <li id="section_3">
                <ul>
                    <li id="products"><h3>Продукция</h3></li>
                    <li id="drones"><a href="/">Дроны</a></li>
                    <li id="cameras"><a href="/">Камеры</a></li>
                    <li id="sale"><a href="/">Распродажа</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</section>
<section id="copyright">
        <p>&copy; 2024 Магазин электроники. Все права защищены.</p>
</section>
